/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Mono+One&display=swap");

/* colors */
:root {
  --mark-color: #f7d002;
  --code-background: #d9d9d9;
  --button-color--hover: #f7d002;
  --button-text--full: white;
  --button-color--full: black;
  --button-text--bordered: black;
  --table-clor:#018e42 ;
}

body {
  font-family: "Fira Sans", sans-serif;
}
a{
   
    text-decoration: none;
 
   
}
/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
  
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 18px;
}
/* types of text */
mark {
  background: var(--mark-color);
  border-radius: 1em;
  line-height: 2em;
  padding: 0.5em;
}
code {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  padding: 0.5em;
  background-color: var(--code-background);
  line-height: 2em;
}

p {
  margin: 2em;
  text-indent: 2em;
}
/* lists */
ul {
  list-style: url(./demo/bug.svg);
}
/* buttons */
.button {
  padding: 1em;
  border-radius: 2em;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}
.button:hover {
  background-color: var(--button-color--hover);
  transition: 0.4s;
}
.button--full {
  color: var(--button-text--full);
  background-color: var(--button-color--full);
}
.button--bordered {
  color: var(--button-text--bordered);
  border: solid 4px;
}
/* tables */
table {
  background-color: var(--table-clor);
  border-collapse: collapse;
  border-radius: 1em;
  border-style: hidden;
}
thead {
  background-color: rgba(255, 255, 255, 0.5);
}
th {
  padding: 0.5em;
  border: solid var(--table-clor);
}
td {
  border: solid rgba(255, 255, 255, 0.5);
  padding: 0.5em;
}
/* pictures */
img{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    max-width: 400px;
   border-radius: 2em;
}

figcaption {
    transition: .2s;
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    transform: translateY(100%);
}

figure:hover figcaption {
    transform: translateY(0);
    transition: .5s;
}

img {
    transition: .2s;
}

figure:hover img {
    transform: scale(1.5);
    transition: .5s;
}
