p{
    font-family: 'Fira Sans', sans-serif;
}
a{
     font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
 
   
}
img{
    display: block;
    width: 100%;
}


section{
    margin: 2em;
}
 
section >h2 {
    font-family: 'Rubik Mono One', sans-serif;
    
}

footer{
    background-color: #F7D002;
    
    padding: 2em;
}
footer > div > a{
    color: white;
}

.top > a > h1 {
    font-family: 'Rubik Mono One', sans-serif;
    color: #F7D002;
    font-size: 3em;
}


