



section{
    margin: 2em;
    padding-bottom: 4em;
}
 


footer{
    background-color: #F7D002;
    
    padding: 2em;
}
footer > div > a{
    color: white;
}

.top > a > h1 {
    
    color: #F7D002;
    
}




.headings__box{
    background-color:#D9D9D9;
    padding: 1em 3em 1em 3em ;
    max-width: 500px;
    border-radius: 1em;
}
.pictures__box{
    display: flex;
    gap: 1em;
}

@media screen and (min-width: 1115px) {
   
section{
    max-width: 1080px;
    margin: 0 auto;
}
.footer--box{
    max-width: 1080px;
    margin: 0 auto;
}
     
    }